/*

    ///////////////////////////////////////////////////////////////////////
    //                                                                   //
    //                  Program Name: Web Development                    //
    //                   Course Name: HTML5/CSS3 Capstone Project        //
    //                         Batch: WDD7 - Jan 2020                    //
    //                    Instructor: Brent Scott                        //
    //   HTML5/CSS3 Capstone Project: Desktop stylesheet                 // 
    //                                                                   //
    //                  Submitted by: Anu Kulshrestha                    //
    //                                                                   //
    ///////////////////////////////////////////////////////////////////////
*/


/*
  _____            _    _                 _____  _____ _____    _____          _      
 |  __ \          | |  | |               / ____|/ ____/ ____|  / ____|        | |     
 | |  | | ___  ___| | _| |_ ___  _ __   | |    | (___| (___   | |     ___   __| | ___ 
 | |  | |/ _ \/ __| |/ / __/ _ \| '_ \  | |     \___ \\___ \  | |    / _ \ / _` |/ _ \
 | |__| |  __/\__ \   <| || (_) | |_) | | |____ ____) |___) | | |___| (_) | (_| |  __/
 |_____/ \___||___/_|\_\\__\___/| .__/   \_____|_____/_____/   \_____\___/ \__,_|\___|
                                | |                                                   
                                |_|                                                  

*/

/*Animation for Marking page table rows in Desktop view*/
@-webkit-keyframes mark_animation{  
  0%, 100% {
    background-color: #D1D06B;    
  }
  50%{
    background-color: #f8f8f8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }   
}

@keyframes mark_animation{  
  0%, 100% {
    background-color: #D1D06B;    
  }
  50%{
    background-color: #f8f8f8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }   
}


/*Viewport settings in CSS in Desktop view*/
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;   
  background: linear-gradient(#D1D06B, #eee, #C1C05A, #D1D06B);
}

/*Wrapper Settings in CSS in Desktop view*/
#page_content{
  width: 960px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;   
  background: linear-gradient(#D1D06B, #eee, #C1C05A, #D1D06B);
}

/* *********************** Header of Desktop view ***********************  */

/*Header Settings in CSS in Desktop View*/
header{
  height: 140px;
  padding-top: 1px;
  box-sizing: border-box; 
}

/*CSS for logo image*/
picture{  
  float: left;  
  border: 1px solid transparent;
}

/*CSS for heading/company name*/
h1{
  float: left;
  text-align: right;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 3em;    
  margin-bottom: 0;
}

/*CSS for anchor tag of h1*/
h1 a{
  text-decoration: none;
  color: #660505;
}

/*CSS for h2 global setting*/
h2{
  text-align: center;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;   
  color: rgba(150,05,05,1);
}

/*CSS for social media div container*/
header div#slink_image{
  float: right;
  margin-top: 10px;
}

/*CSS for social media anchor tags*/
header a.social_mlinks{
  text-decoration: none;
}

/*CSS for social media images*/
header a.social_mlinks img{
  border-radius: 10px;   
  padding-right: 5px;  
}

/*CSS for message floating on header about timings of salon.*/
header div#head_msg{
  float: right;
  margin-right: -95px;
  margin-top: 80px;  
  color: #333;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  box-sizing: border-box;
}

/* *********************** Navigation of Desktop view ***********************  */

/*Navigation element settings in CSS in Desktop View*/
nav{
  background-color: #f8f8f8;
  height: 37px;  
  font-size: 1.1em;
  font-weight: 400;
}

/*Navigation element unordered list CSS code*/
nav ul{
  padding: 0;
  margin: 0;
  white-space: nowrap;   
  text-align: center;
}

/*Navigation element unordered list items of main navigation's CSS code*/
nav ul#main_navigation li.main_nav{
  list-style-type: none;
  display: inline-block; 
  position: relative;      
  padding-top: 7px;
  padding-bottom: 9px; 
}

/*Navigation element unordered list items of main navigation's anchor tag's CSS code*/
nav ul#main_navigation li.main_nav a{
  text-decoration: none;
  color: #333;
  padding: 6px 22px 6px 22px;  
  width: 170px;   
  border: 2px solid transparent;
  font-weight: 500;
  transition: all .4s ease-in-out;
}

/* CSS rule declarations for hover on main menu elements of nav */            
nav ul#main_navigation li.main_nav a:hover{
  color: #660505;  
  background: linear-gradient(#D1D06B, #eee);  
  border-radius: 10px;     
  border: 2px solid #660505; 
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}

/* CSS rule declarations for sub menu unordered list under main unordered list of nav */ 
nav ul#main_navigation li.sub_menu ul#sub_list{
  position: absolute;
  top: 35px;
  left: 0;        
  width: 180px;        
  display: none;
  max-height:0;
  text-align: left;   
  transition: max-height 500ms ease-in-out;        
}

/* CSS rule declarations for hover on unordered list under main unordered list of nav */ 
nav ul#main_navigation li.sub_menu:hover ul#sub_list{        
  display: block;
  max-height: 450px;  
  z-index: 99999; 
}

/* CSS rule declarations for list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li{
  display: block;
  box-sizing: border-box; 
  margin: 4px;       
  background: linear-gradient(#fff,#E5E1E1);
  padding: 1px;  
  box-shadow: 2px 2px 8px rgba(0,0,0,0.8);  
}  

/* CSS rule declarations for hover on list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li:hover{
  border-radius: 6px;
}

/* CSS rule declarations for anchor tags of list items of unordered list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li a{
  display: block;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-right: 5px;   
  transition: all .3s ease-in-out;
}

/* CSS rule declarations for hover on anchor tags of list items of unordered 
   list under main unordered list of nav */
nav ul#main_navigation li.sub_menu ul#sub_list li a:hover{
  height: 100%;
  width: 160.5px;  
  border-radius: 6px;  
}

/* CSS rule declarations for current page opened highlights */
nav .current_page{  
  border-radius: 10px; 
  background: linear-gradient(#D1D06B, #eee);  
}

/* *********************** Section of Desktop view ***********************  */

/* CSS rule declarations for section element of website */
section{               
  box-sizing: border-box;
  min-height: 650px;  
  padding-top: 1px;
}

div#webpage_path{  
  float: left; 
  margin-top: 5px;
  margin-left: 5px;
}

/* ********************** Home Page in desktop view *********************** */

/* CSS rule declarations for main div container of home page */
#main_container{
  padding-top: 1px;
  min-height: 650px;
  background-image: url(../images/Home_PictureD.jpg);
  background-size: cover;
}

/* CSS rule declarations for div container for content other than background image */
#home_pic{
  width: 200px;
}

/* CSS rule declarations for image inside div container for content other than background image */
#home_pic img{  
  float: left;
  position: absolute;
  top: 420px;
  right: 69px;
}

/* CSS rule declarations for h2 inside div container for content other than background image */
#home_pic h2{
  padding: 0;
  font-size: 1.4em;
}

/* CSS rule declarations for anchor tag inside div container for content other than background image */
a#fordesktop{
  border: 3px solid #aaa;
  background: linear-gradient(#ccc, #fff);
  text-align: center;
  width: 270px;
  height: 40px;    
  text-decoration: none;
  color: #333;
  font-family: 'Roboto', sans-serif;  
  font-weight: 500;
  position: absolute;
  top: 510px;
  right: 48px;
  padding-top: 10px;  
  transition: all .2s ease-in-out;
}

/* CSS rule declarations for hover on anchor tag inside div container 
  for content other than background image */

a#fordesktop:hover{
  background: linear-gradient(#D1D06B, #eee);  
  color: #660505;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 3px solid #660505;
}

/* CSS rule declarations for anchor tag inside modal box */
#contactform{
  text-decoration: none;
  color: #660505;
  font-weight: 500;
}

/* CSS rule declarations for mobile view anchor tag */
a#formobile{
  position: absolute;
  top: 530px;
  right: 50px;
}

/* putting a div to open the modal box on click of above link of the page. */
.bookappointment{  
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;  
  pointer-events: none;  
  transition: all .4s ease-in-out;
}

/* closing of the div when one clicks outside the div of modal box  */
.close_appointment{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
  z-index: 105; 
  cursor: default;
}

/* message div container on modal box div */
.message{
  position: relative;
  width: 210px;
  background: linear-gradient(#ccc, #fff);
  margin: 20% auto; 
  border: 2px solid #fff;  
  box-shadow: 0 7px 14px rgba(0,0,0,0.5);
  padding: 25px 13px 10px 15px;
  z-index: 110;  
  transition: all .5s ease-in-out;
}

.message:hover{
  background: linear-gradient(#D1D06B, #eee);
  border: 2px solid #660505;
  border-radius: 10px;
}

/* closing button of the div when one clicks on the cross of the modal box */
.close_message{
  display: block;
  border-radius: 60%;
  font-size: 1.1em;
  background-color: #333;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 2px 7px 2px 7px;
  border: 2px solid #000;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
  font-size: 0.9em;
  font-weight: 500;
  transition: all .1s ease-in-out;
}

.close_message:hover{
  background: radial-gradient(#d00,#660505);
  -webkit-transform: scale(1.1);  
  transform: scale(1.1);  
  font-size: 1em;  
}

/* CSS for a tag inside p tag having class italicised on modal box */
p.italicised a{
  font-weight: 500; 
}

/* CSS for main modal having id as open message for div to show and anchor tags to be clicked */
#open_message:target{
  opacity: 1;
  pointer-events: auto;
}

/* ********************** Services Page in desktop view *********************** */

/* Services page CSS code for main div */
#salon_services{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; 
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  float: left;
  width: 95%;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.2em;
  color: #660505;  
  perspective: 500px;
  perspective-origin: top left;
  border: 6px groove rgba(150,05,05,0.9);
  box-sizing: border-box;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7); 
  border-radius: 10px;
}

/* Services page CSS code for all div inside the main div */
#salon_services div{
  border: 2px solid #fff;
  background: linear-gradient(#ccc, #fff);
  border-radius: 2px;
  height: auto;  
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;  
  width: 29.1%;
  transition: all .3s ease-in;
  margin: 15px;   
  opacity: 0.6;
}

/* Services page CSS code for div with id facial inside the main div */
#salon_services div#facial{
  -webkit-transform: rotateY(25deg) skewY(10deg); 
  transform: rotateY(25deg) skewY(10deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);   
}

/* Services page CSS code for hover on div with id facial inside the main div */
#salon_services div#facial:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id waxing inside the main div */
#salon_services div#waxing{
  -webkit-transform: rotateY(15deg) skewY(8deg);
  transform: rotateY(15deg) skewY(8deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id waxing inside the main div */
#salon_services div#waxing:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg); 
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id hairstyling inside the main div */
#salon_services div#hairstyling{
  -webkit-transform: rotateY(13deg) skewY(8deg);
  transform: rotateY(13deg) skewY(8deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id hairstyling inside the main div */
#salon_services div#hairstyling:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for div with id threading inside the main div */
#salon_services div#threading{
  -webkit-transform: rotateY(25deg) skewY(9deg);
  transform: rotateY(25deg) skewY(9deg); 
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id threading inside the main div */
#salon_services div#threading:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg);
  transform: rotateY(0deg) skewY(0deg);  
  cursor: default;   
  opacity: 1;
}

/* Services page CSS code for div with id makeup inside the main div */
#salon_services div#makeup{
  -webkit-transform: rotateY(15deg) skewY(3deg);
  transform: rotateY(15deg) skewY(3deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id makeup inside the main div */
#salon_services div#makeup:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg); 
  transform: rotateY(0deg) skewY(0deg);   
  cursor: default;   
  opacity: 1;
}

/* Services page CSS code for div with id skincare inside the main div */
#salon_services div#skincare{
  -webkit-transform: rotateY(13deg) skewY(1deg);
  transform: rotateY(13deg) skewY(1deg);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);  
}

/* Services page CSS code for hover on div with id skincare inside the main div */
#salon_services div#skincare:hover{
  -webkit-transform: rotateY(0deg) skewY(0deg); 
  transform: rotateY(0deg) skewY(0deg);   
  cursor: default;    
  opacity: 1;
}

/* Services page CSS code for making the first list as the heading in all div */
#salon_services div ul li:first-child{
  list-style-type: none;
}

/* ********************** Specials Page in desktop view *********************** */

/* Specials page CSS code for main div */
#special_services{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;   
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 50px;   
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;  
  border: 6px groove rgba(150,05,05,0.9);
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
  border-radius: 10px;
}

/* Specials page CSS code for all div inside the main div */
#courses, #courses_image, 
#seminars, #seminars_image, 
#services_home, #services_home_image, 
#products, #products_image{ 
  border: 2px solid #fff;
  background: linear-gradient(#ccc, #fff);
  opacity: 0.9;  
  float: left;
  font-weight: 500;  
  width: 24%;   
  box-sizing: border-box;
}

/* Specials page CSS code for designing the corner div with id courses */
#courses{
  border-radius: 10px 0 0 0;
}

/* Specials page CSS code for designing the corner div with id seminars_image */
#seminars_image{
  border-radius: 0 10px 0 0;
}

/* Specials page CSS code for designing the corner div with id services_home_page */
#services_home_image{
  border-radius: 0 0 0 10px;
}

/* Specials page CSS code for designing the corner div with id products */
#products{
  border-radius: 0 0 10px 0;
}

/* Specials page CSS code for giving padding to the divs with text content */
#courses, #services_home, #seminars, #products{
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Specials page CSS code for giving padding to the divs with images */
#courses_image, #seminars_image, #services_home_image, #products_image{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;  
}

/* Specials page CSS code for giving reponsive effect to the images */
#special_services a img.responsive{
  width: 100%;
  height: auto;
}

/* Specials page CSS code for giving padding to the anchor tags with text content */
#courses a, #seminars a, #services_home a, #products a{
  display: block;
  padding-top: 22px;
  text-decoration: none;
  color: #660505;
  font-weight: 400;  
  transition: all .3s ease-in-out;
}

/* Specials page CSS code for giving scale effect to the anchor tags with text content */
#courses a:hover, #seminars a:hover, #services_home a:hover, #products a:hover{
  text-decoration: underline;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  font-weight: 500;
}

/* ********************** Courses Page in desktop view *********************** */ 

/* CSS for Courses page main div */
#course_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.5em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;  
}

/* CSS code for formatting Table present on Courses and Seminars and Marks Page */
table{
  width: 80%;        
  border: 6px groove rgba(150,05,05,0.9);     
  margin: 0 auto;
  font-size: 1em;
  background-color: #D1D06E; 
  margin-top: 0;
  border-spacing: 2px;
  border-collapse: separate;
}

/* Applying CSS to caption of table */
caption{
  background-color: #f8f8f8; 
  border: 6px groove rgba(150,05,05,0.9);
  border-bottom: 0 groove rgba(150,05,05,0.9);
}

/* CSS for Courses page that is part of Specials Page. */
caption h2{
  font-size: 1em;
  color: #660505;
}

/* Applying border and padding to cells. Border to table don't give border to cells. */
td, th{
  border: 2px groove rgba(150,05,05,0.9);
  padding: 5px;  
  font-size: 0.8em;  
}

/* Applying CSS to particular data of the table */
td.courselist{
  padding-left: 50px;
  text-align: left;
}

/* Applying CSS to rows of the table when the row is hovered with mouse pointer */
.seminar_row:hover{  
  background-color: #f8f8f8;
  cursor: default;    
}

/* ********************** Seminars Page in desktop view *********************** */

/* seminar page CSS code for main container div */
#seminar_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.5em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;  
}

/* ********************** Services at Home Page in desktop view *********************** */

/* Services @ Home CSS code for main container div. It is a part of Specials page */
#salon_services_home{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column; 
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  margin-left: 95px;
  margin-top: 15px;
  width: 80%;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.2em;
  color: #660505; 
  box-sizing: border-box;
  border: 6px groove rgba(150,05,05,0.9);
}

/* CSS for all div inside the main container of Services @ Home page. */
#salon_services_home div{  
  min-height: 60px;   
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;  
  border: 1px solid rgba(150,05,05,0.9);
}

/* ********************** Products Page in desktop view *********************** */

/* products page CSS code for main container div. It is a part of Specials page */
#product_container{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 424px;
  width: 85%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.5em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 70px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
  border: 6px groove rgba(150,05,05,0.9);
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
  position: relative;
}

/* ********************** About Us Page in desktop view *********************** */

/* About Us Page CSS code for main container div. */
#aboutus{  
  min-height: 400px;
  width: 85%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.2em;
  color: #660505;
  float: left;
  margin-top: 2px;
  margin-left: 70px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 10px;
  border: 6px groove rgba(150,05,05,0.9);
  box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

/* CSS code for the paragraph, that is containing the content of About Us. */
#aboutus p{
  margin-top: 5px;
  margin-bottom: 0;
  text-align: justify;
  padding: 5px 15px 0 15px;
}

/* ********************** Contact Us Page in desktop view *********************** */
h3{
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

#salonaddress{   
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  float:left;
  margin-top: 45px;
  margin-left: 110px;
  color: #aa0909;
  font-size: 1.2em;
}

/* Contact Page CSS code for main container div */
#contactus_container{
  min-height: 424px;
  width: 85%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;  
  color: #660505;
  float: left;
  margin-top: 5px;
  margin-left: 70px;      
  box-sizing: border-box;    
}

/* Contact Page CSS code for heading 2 */
#contactus_container h2{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.4em;
}

/* Contact Page CSS code for fieldset of form */
#contact_form fieldset{
  background-color: #D1D06E;  
  border: 2px groove #660505;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Contact Page CSS code for legend of form */
#contact_form legend{    
  color: #660505;
  padding: 8px;
  border: 2px groove #660505; 
  width: 125px;   
  background-color: #f8f8f8;
  border-radius: 10px;  
  font-size: 1.1em;
}

/* Contact Page CSS code for all labels of form */
#contact_form label.info{
  display: block;
  width: 260px;
  clear: both;
  float: left; 
  margin-right: 10px;
  margin-left: 100px;
  text-align: right;
  font-size: 1.1em;
}

/* Contact Page CSS code for all input types of form */
#contact_form input[type="text"], 
#contact_form input[type="tel"], 
#contact_form input[type="date"], 
#contact_form input[type="email"]{
  width: 250px;
  background-color: #eed;        
  border: 2px groove #660505; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  color: #660505;
  font-family: 'Roboto', sans-serif;
}

/* Contact Page CSS code for dropdown select of form */
#contact_form select#contact_time{
  width: 264px;
  background-color: #eed;        
  border: 2px groove #660505; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  color: #660505;
  font-family: 'Roboto', sans-serif;
}

/* Contact Page CSS code for textarea element of form */
#contact_form textarea{
  width: 258px;
  margin-left: 10px;
  margin-right: 10px;
  color: #660505;
  border: 2px groove #660505;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Contact Page CSS code for buttons of submit and reset of form */
input[type="submit"], input[type="reset"]{
  padding: 10px;
  display: inline-block;
  width: 100px;
  background-color: #f8f8f8;
  color: #660505;
  border: 2px groove #660505; 
  border-radius: 10px;  
  float: left;
  margin-left: 320px;  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Contact Page CSS code for button of reset of form */
input[type="reset"]{
  margin-left: 10px;
}

/* Contact Page CSS code for hover on buttons of form */
input[type="submit"]:hover, input[type="reset"]:hover{
  background-color: #D1D06E;  
}

/* ********************** Marking Page in desktop view *********************** */

/* Marking Page CSS code for main container div */
#mark_container{
  min-height: 424px;
  width: 95%; 
  font-family: 'Charmonman', cursive;
  font-weight: 700;  
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 20px;      
  box-sizing: border-box;
  font-size: 1.3em;
}

/* Marking Page CSS code for particular column having content description of table */
.markslist{
  padding-left: 20px;
  text-align: left;
}

/* Marking Page CSS code for hover on rows of contents of table */
.marksrow:hover{  
  background-color: #f8f8f8;
  cursor: default;     
  transition: all .5s ease-in-out;
}

/* Marking Page CSS code anchor elements of table */
tr.marksrow td a{
  text-decoration: none;
  color: #000;  
}

/* Marking Page CSS code for hover on anchor tags on table */
tr.marksrow td a:hover{
  text-decoration: underline;
  color: #b00;
}

/* Marking Page CSS code for hover on cells with content in table */
tr.marksrow td:hover{    
  -webkit-animation: mark_animation 2s ease-in-out alternate;
  animation: mark_animation 2s ease-in-out alternate;
}

/* ********************** footer in desktop view *********************** */

/* CSS code for footer element of the page */
footer{
  background-color: #f8f8f8;  
  height: 120px;  
  padding-top: 1px;
  background: linear-gradient(#fff,#E5E1E1); 
  box-sizing: border-box;
}

/*CSS code for footer navigation list on footer element of the page*/
footer ul{  
  float: left;
  margin-left: 100px;
  text-align: center;
  vertical-align: bottom;         
}

/*CSS code for footer navigation list items on footer element of the page*/
footer ul li{
  display: inline-block;
  padding: 20px 20px 15px 20px;   
}

/*CSS code for anchor tags of footer navigation on footer element of the page*/
footer ul li a{
  text-decoration: none;
  color: #333; 
  font-weight: 400;
  font-size: 0.9em;
  padding: 8px 15px 0 15px;   
}

/*CSS code for hover on anchor tags of footer navigation on footer element of the page*/
footer ul li a:hover{
  text-decoration: underline;
  color: #660505;
}

/*CSS code for footer site_details div having copyright and last modified details of the website*/
footer #site_details{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;  
  -webkit-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  clear: both;  
  float: left;
  margin-top: 10px;
  margin-left: 210px;
  font-size: 0.9em; 
  color: #333; 
}

/*CSS code for divs of copyright and last modified details on footer element*/
footer #copy_right #last_modified{  
  float: left;      
}

/*Media queries for the viewport having width more than 960 pixels and are on screen*/
@media screen and (min-width: 960px){
  
  body{
    background: linear-gradient(#eee, #999);
  }
  
  /* main wrapper div */
  #page_content{
    max-width: 960px;        
  }
    
  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  }
  
  /* a for mobile view */
  a#formobile{
    display: none;
  } 
 
  /* a for desktop view */
  a#fordesktop{
    visibility: visible;       
  } 
  
  /*header content*/  
  header #head_msg{
    visibility: visible;
  }
  
  /* footer message for salon timings */
  footer #displaymsg3{
    display: none;
  }
}  

/* Media queries for the viewport having width between 768 pixels to 960 pixels and are on screen */
@media screen and (min-width:769px) and (max-width:960px){
  body{
    background: linear-gradient(#eee, #D1D06B);
  }
  
  /* main wrapper div of web page */
  #page_content{
    width: 100%;    
  }  
  
  /* header content */
  header div#head_msg{
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    visibility: visible;    
    font-size: 0.8em;
    float: right;
    margin-right: -95px;
    margin-top: 85px;
  }
  
  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  }
  
  /* nav for desktop view */
  nav#desktopnav{
    font-size: 0.9em; 
    height: 33px;
  } 
  
  /* ul under li of main ordered list */
  nav ul#main_navigation li.sub_menu ul#sub_list{
    top: 29px;
  }
  
  /* anchor tag of mobile view */
  a#formobile{
    display: none;
  }  
  
  /* image over background image */
  #home_pic img{
    right: 15px;
  }
  
  /* h2 over background image */
  #home_pic h2{
    font-size: 0.9em; 
    padding: 0;
    margin: 0;
  }
  
  /* a inside h2 over background image */
  a#fordesktop{
    visibility: visible;
    padding: 5px 0 0 0;
    margin-bottom: 0;
    width: 180px;
    height: 30px;
    right: 30px;
  }  
  
  /* Services page. */
  #salon_services div{
    width: 25%;
    font-size: 0.8em;
  }
  
  /* Courses page. */
  #course_container{
    width: 100%;
    margin-left: 30px;
    font-size: 1.2em;
  }
  
  /* Seminar page. */
  #seminar_container{
    width: 100%;
    margin-left: 30px;
    font-size: 1.2em;
  }
  
  /* Salon Services at home page. */
  #salon_services_home{
    width: 90%;
    margin-left: 30px;
    font-size: 1.1em;
  }
  
  /* Products page */
  #product_container{
    font-size: 1.1em;
  }
  
  /* About Us page. */
  #aboutus{    
    font-size: 1em;
  }
  
  /* Contact form labels */
  #contact_form label.info{
    margin-left: 20px;
  }
  
  #salonaddress{   
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    float:left;
    margin-top: 30px;
    margin-left: 40px;
    color: #aa0909;
  }
  
  /* Marking page. */
  #mark_container{
    font-size: 1.2em;
    width: 98%;
    margin-left: 10px;
  }
  
  /* floating footer ul for proper positioning */
  footer ul{
    float: left;
    margin-left: 90px;
    margin-top: 10px;
  }
  
  /* giving padding in between list items */
  footer ul li{
    padding: 5px;
  }
  
  /* footer having divs of copyright and last modified details */  
  footer #site_details{
    float: left;
    margin-left: 120px;
    margin-top: 0;
    font-size: 0.9em;
  }
  
  /* footer div having content of salon timings */
  footer div#displaymsg3{
    display: none;
  }
}

/* ****************** Media queries for the ipad and are on screen ***************** */
@media screen and (width:768px){
  
  /* main wrapper div */
  #page_content{
    width: auto;    
  }  
  
  /* header content */
  header #head_msg{
    display: none;
  }  
    
  /* nav for mobile view */
  nav#mobilenav{
    display: none;
  } 
  
  /* nav for desktop view */
  nav#desktopnav{
    font-size: 0.7em;
    height: 30px;
  }
    
  /* anchor tag of mobile view */
  a#formobile{
    display: none;
  }  
  
  /* image on background image */
  #home_pic img{
    right: 15px;
  }
  
  /* h2 on background image */
  #home_pic h2{
    font-size: 0.9em; 
    padding: 0;
    margin: 0;
  }
  
  /* anchor tag inside h2 on desktop view on background image */
  a#fordesktop{
    visibility: visible;
    padding: 5px 0 0 0;
    margin-bottom: 0;
    width: 180px;
    height: 30px;
    right: 30px;
  }
  
  /* Services page. */
  #salon_services{
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 30px;  
    float: left;
    width: 90%;  
    font-size: 0.9rem;
    color: #660505;  
  }
  
  /* Services page all div under main div. */
  #salon_services div#facial, 
  #salon_services div#waxing,
  #salon_services div#hairstyling,
  #salon_services div#threading,
  #salon_services div#makeup,
  #salon_services div#skincare{
    border: 2px solid rgba(150,05,05,0.9);  
    border-radius: 2px;
    height: auto;  
    opacity: 0.95;  
    box-sizing: border-box;  
    margin: 0;  
    width: 50%;
    -webkit-transform: rotateY(0deg) skewY(0deg);
    transform: rotateY(0deg) skewY(0deg);
  }

  /* Services page ul under all sub divs */
  #salon_services div ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 22px;
  }

  /* Services page. first list item of sub div */
  #salon_services div ul li:first-child{
    list-style-type: none;
  }
  
  /* contact page. */
  #contact_form label.info{
    width: 200px;
    margin-left: 20px;
  }
  
  input[type="submit"], input[type="reset"]{
    margin-left: 420px;
  }
  
  input[type="reset"]{
    margin-left: 10px;
  }
  
  #salonaddress{   
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    float:left;
    margin-top: 30px;
    margin-left: 40px;
    color: #aa0909;
  }
  
  /* Marking page. */
  #mark_container{
    width: 100%;
    margin-left: 10px;
    font-size: 1.2em;
  }
  
  /* footer */
  footer{
    height: 120px;
  }
  
  /* floating message on footer */
  footer #displaymsg3{
    display: block;
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    visibility: visible;
    font-size: 0.9em;  
    color: #333;   
    float: left;
    margin-left: 230px;
    margin-bottom: 0;
  }
  
  /* floating ul on footer */
  footer ul{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  /* floating anchor tag on li of ul on footer */
  footer ul li a{
    margin-top: 0;
    padding-top: 0;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0;
  }
  
  /* floating div of copyright and last modified on footer */
  footer #site_details{
    float: left;
    margin-left: 100px;
    margin-top: 0;
    font-size: 0.9em;
  }  
}

/*Media queries for IE10 and IE11 and are on screen*/
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {		
  
  /* for removing the space below in IE10*/
  #home_pic{
    padding-bottom: 1px;
  }  
  
  /*setting required for IE10*/
  header{
    background-color: #D1D06B;
  }
  
  /*setting required for IE 10*/
  header img#logo{ 
    width: 87%;
    height: 87%;
    border: 2px solid #D1D06B;
  }
  
  /*for IE10*/
  header a.social_mlinks img{           
    padding-right: 5px;  
    border: 2px solid #D1D06E;
  }
  
  /* about us page for IE */
  #aboutus p{       
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;    
    margin-top: 0;    
  }
}  
