/*

    ///////////////////////////////////////////////////////////////////////
    //                                                                   //
    //                  Program Name: Web Development                    //
    //                   Course Name: HTML5/CSS3 Capstone Project        //
    //                         Batch: WDD7 - Jan 2020                    //
    //                    Instructor: Brent Scott                        //
    //   HTML5/CSS3 Capstone Project: Mobile stylesheet                  // 
    //                                                                   //
    //                  Submitted by: Anu Kulshrestha                    //
    //                                                                   //
    ///////////////////////////////////////////////////////////////////////
*/

/*
  __  __       _     _ _         _____  _____ _____    _____          _      
 |  \/  |     | |   (_) |       / ____|/ ____/ ____|  / ____|        | |     
 | \  / | ___ | |__  _| | ___  | |    | (___| (___   | |     ___   __| | ___ 
 | |\/| |/ _ \| '_ \| | |/ _ \ | |     \___ \\___ \  | |    / _ \ / _` |/ _ \
 | |  | | (_) | |_) | | |  __/ | |____ ____) |___) | | |___| (_) | (_| |  __/
 |_|  |_|\___/|_.__/|_|_|\___|  \_____|_____/_____/   \_____\___/ \__,_|\___|

*/

/* Animation for mobile menu */
@-webkit-keyframes menu_animation{
  0%{    
    -webkit-transform: rotateY(-180deg) scaleY(0);
    opacity: 0;
  }
  5%{    
    -webkit-transform: rotateY(-171deg) scaleY(0.05);
    opacity: 0.05;
  }
  10%{    
    -webkit-transform: rotateY(-162deg) scaleY(0.1);
    opacity: 0.1;
  }
  15%{    
    -webkit-transform: rotateY(-153deg) scaleY(0.15);
    opacity: 0.15;
  }
  20%{    
    -webkit-transform: rotateY(-144deg) scaleY(0.2);
    opacity: 0.2;
  }
  25%{
    -webkit-transform: rotateY(-135deg) scaleY(0.25);
    opacity: 0.25;
  }
  30%{
    -webkit-transform: rotateY(-126deg) scaleY(0.3);
    opacity: 0.3;
  }
  35%{
    -webkit-transform: rotateY(-117deg) scaleY(0.35);
    opacity: 0.35;
  }
  40%{
    -webkit-transform: rotateY(-108deg) scaleY(0.4);
    opacity: 0.4;
  }
  45%{
    -webkit-transform: rotateY(-99deg) scaleY(0.45);
    opacity: 0.45;
  }
  50%{
    -webkit-transform: rotateY(-90deg) scaleY(0.5);
    opacity: 0.5;
  }
  55%{
    -webkit-transform: rotateY(-81deg) scaleY(0.55);
    opacity: 0.55;
  }
  60%{
    -webkit-transform: rotateY(-72deg) scaleY(0.6);
    opacity: 0.6;
  }
  65%{
    -webkit-transform: rotateY(-63deg) scaleY(0.65);
    opacity: 0.65;
  }
  70%{
    -webkit-transform: rotateY(-54deg) scaleY(0.7);
    opacity: 0.7;
  }
  75%{
    -webkit-transform: rotateY(-45deg) scaleY(0.75);
    opacity: 0.75;
  }
  80%{
    -webkit-transform: rotateY(-36deg) scaleY(0.8);
    opacity: 0.8;
  }
  85%{
    -webkit-transform: rotateY(-27deg) scaleY(0.85);
    opacity: 0.85;
  }
  90%{
    -webkit-transform: rotateY(-18deg) scaleY(0.9);
    opacity: 0.9;
  }  
  95%{
    -webkit-transform: rotateY(-9deg) scaleY(0.95);
    opacity: 0.95;
  }
  100%{
    -webkit-transform: rotateY(0deg) scaleY(1);
    opacity: 1;
  }
}
@keyframes menu_animation{
  0%{    
    transform: rotateY(-180deg) scaleY(0);
    opacity: 0;
  }
  5%{    
    transform: rotateY(-171deg) scaleY(0.05);
    opacity: 0.05;
  }
  10%{    
    transform: rotateY(-162deg) scaleY(0.1);
    opacity: 0.1;
  }
  15%{    
    transform: rotateY(-153deg) scaleY(0.15);
    opacity: 0.15;
  }
  20%{    
    transform: rotateY(-144deg) scaleY(0.2);
    opacity: 0.2;
  }
  25%{
    transform: rotateY(-135deg) scaleY(0.25);
    opacity: 0.25;
  }
  30%{
    transform: rotateY(-126deg) scaleY(0.3);
    opacity: 0.3;
  }
  35%{
    transform: rotateY(-117deg) scaleY(0.35);
    opacity: 0.35;
  }
  40%{
    transform: rotateY(-108deg) scaleY(0.4);
    opacity: 0.4;
  }
  45%{
    transform: rotateY(-99deg) scaleY(0.45);
    opacity: 0.45;
  }
  50%{
    transform: rotateY(-90deg) scaleY(0.5);
    opacity: 0.5;
  }
  55%{
    transform: rotateY(-81deg) scaleY(0.55);
    opacity: 0.55;
  }
  60%{
    transform: rotateY(-72deg) scaleY(0.6);
    opacity: 0.6;
  }
  65%{
    transform: rotateY(-63deg) scaleY(0.65);
    opacity: 0.65;
  }
  70%{
    transform: rotateY(-54deg) scaleY(0.7);
    opacity: 0.7;
  }
  75%{
    transform: rotateY(-45deg) scaleY(0.75);
    opacity: 0.75;
  }
  80%{
    transform: rotateY(-36deg) scaleY(0.8);
    opacity: 0.8;
  }
  85%{
    transform: rotateY(-27deg) scaleY(0.85);
    opacity: 0.85;
  }
  90%{
    transform: rotateY(-18deg) scaleY(0.9);
    opacity: 0.9;
  }  
  95%{
    transform: rotateY(-9deg) scaleY(0.95);
    opacity: 0.95;
  }
  100%{
    transform: rotateY(0deg) scaleY(1);
    opacity: 1;
  }
}

/* CSS for mobile viewport */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;   
}

/* CSS for mobile wrapper div */
#page_content{
  width: 100%; 
  position: relative;
  overflow: hidden;
}

/* ********** Header of mobile view ***********/

/* CSS for header */
header{
  background-color: #D1D06B;  
  min-height: 90px;
  padding-top: 1px;
  box-sizing: border-box; 
}

/* CSS for header image */
picture{  
  float: left;
  margin-left: 1px;
  margin-top: 1px;
}

/* CSS for h1 on header */
h1{
  float: left;
  text-align: right;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-size: 1.8em;   
  margin-bottom: 0;
}

/* CSS for h1's anchor tag */
h1 a{
  text-decoration: none;
  color: #660505;
}

/* CSS for h2 in general or global view */
h2{
  text-align: center;  
  margin-top: 15px;
  margin-bottom: 10px;   
  color: rgba(150,05,05,1);
  font-size: 1.1em;
  font-weight: 500;
}

/*CSS for social media images div*/
header div#slink_image{
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

/*CSS for social media images anchor*/
header a.social_mlinks{
  text-decoration: none;
}

/*CSS for social media images*/
header a.social_mlinks img{
/*  display: inline-block;*/
  border-radius: 10px;   
  padding-right: 1px;    
}

/*CSS for mobile view anchor tag for calling for booking an appointment*/
a#formobile{
  text-decoration: none;
  color: #333;
  display: block;
  float:left;
  margin-top: -51px;
  font-size: 0.9em;  
}

/*CSS for hover on mobile view anchor tag for calling for booking an appointment*/
a#formobile:hover{
  color: #660505;
  font-weight: 500;
}

/* ********** Nav of mobile view ***********/

/* nav of desktop for showing bar in mobile view */
nav#desktopnav{
  background-color: #f8f8f8;    
  box-sizing: border-box;
  min-height: 33px;
}

/* nav of mobile view */
nav#mobilenav{
  background: linear-gradient(#fff,#E5E1E1);    
  box-sizing: border-box;
  perspective: 800px;
  perspective-origin: top;
  min-height: 35px;
  width: 34px;
  position: absolute;
  top: 52px;
  right: 15px;
  border-radius: 5px;
  z-index: 99999;
}

/* a for mobile menu on mobile view */
nav#mobilenav a#mobile_menu{
  display: block;  
  width: 34px;
  min-height: 35px;    
  border: 3px solid #660505;
  border-radius: 5px;
  background: linear-gradient(#ccc, #fff);  
  box-sizing: border-box;
}

/* span of a for mobile menu on mobile view */
nav#mobilenav a#mobile_menu span{
  display: block;  
  height: 3px;
  width: 19px;  
  background-color: #660505;
  box-sizing: border-box;
  margin: 5px 6px 4px 5px;
  transition: all .4s ease-in-out;
  transform-origin: 0 0;    
}

/* Hamburger menu Effect, effect on hover over the bars*/
nav#mobilenav:hover a#mobile_menu span#topbar{
  -webkit-transform: translate(4px, 2px) rotate(45deg);
  transform: translate(4px, 2px) rotate(45deg);  
}

nav#mobilenav:hover a#mobile_menu span#middlebar{
  opacity: 0;
}

nav#mobilenav:hover a#mobile_menu span#bottombar{
  -webkit-transform: translate(2px,-1px) rotate(-45deg);
  transform: translate(2px,-1px) rotate(-45deg);  
}

/* ul for mobile menu on mobile view */
nav#mobilenav ul#mobile_navigation{
  list-style-type: none;
  margin: 0;
  padding: 3px;  
  background-color: #D1D06B;
  position:absolute;  
  top: 36px;
  right: 1px;
  width: 175px;
  font-size: 1.1em;
  box-shadow: 0 7px 10px rgba(0,0,0,0.6);     
  visibility: hidden;
  opacity: 0;      
  transform-origin: top center;
}

/* hover on nav and show mobile menu ul on mobile view */
nav#mobilenav:hover ul#mobile_navigation{  
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-animation: menu_animation 1s ease-in-out;
  animation: menu_animation 1s ease-in-out;
  box-sizing: border-box;
}

/* list of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li{
  list-style-type: none;
  background: linear-gradient(#eee, #D1D06B);
  margin-bottom: 5px;  
}

/* last list item of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li:last-child{
  margin: 0;
}

/* a tag of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li a{
  color: #660505;
  text-decoration: none;
  display: block;
  padding: 7px 15px 7px 15px;
  font-weight: 400;    
}

/* hover on a tag of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li a:hover{
  background: linear-gradient(#ccc, #fff);  
}

/* sub ul of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li ul#mobilesub_list{
  margin: 0;
  padding: 0;    
  background-color: #D1D06B;
}

/* li of sub ul of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li ul#mobilesub_list li{  
  margin-bottom: 5px;  
}

/* first li of sub ul of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li ul#mobilesub_list li:first-of-type{
  margin-top: 10px;
}

/* a of li of sub ul of li of mobile menu ul on mobile view */
nav#mobilenav ul#mobile_navigation li ul#mobilesub_list li a{
  font-size: 0.9em;
  padding-left: 20px;
}

/* ********** Section of mobile view ***********/
section{
  box-sizing: border-box;
  min-height: 550px;
  background:linear-gradient(#eee, #D1D06B);
  padding-top: 1px;
  position: relative; 
  padding-left: 5px;
  padding-right: 5px; 
  transition: all .3s ease-out;
}

/* ********** Home Page of mobile view ***********/
/* Home Page main div */
#main_container{
  padding-top: 1px;
  min-height: 550px;
  background-image: url(../images/Home_PictureM.jpg);
  background-size: cover;
  
}

/* Home Page img over background image */
#home_pic img{
  width: 220px;
  height: 60px;
  position: absolute;
  top: 240px;
  left: -75px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* ********** Services Page of mobile view ***********/

/* Services page main div*/
#salon_services{
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 20px;  
  float: left;
  width: 90%;  
  font-size: 0.9rem;
  color: #660505;  
}

/* Services page all div under main div*/
#salon_services div{
  border: 2px solid rgba(150,05,05,0.9);  
  border-radius: 2px;
  height: auto;  
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;  
  width: 50%;
}

/* Services page ul of all div under main div*/
#salon_services div ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 22px;
}

/* Services page first list item of ul of all div under main div*/
#salon_services div ul li:first-child{
  list-style-type: none;
}

/* ********** Specials Page of mobile view ***********/

/*Specials page main div*/
#special_services{
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;  
  width: 80%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 0; 
}

/*Specials page all div under main div*/
#courses, #courses_image, 
#seminars, #seminars_image, 
#services_home, #services_home_image, 
#products, #products_image{ 
  border: 2px solid #fff;
  background: linear-gradient(#ccc, #fff);
  opacity: 0.9;  
  float: left;
  font-weight: 500;  
  height: auto;
  box-sizing: border-box;
}

/*Specials page content div of main div*/
#courses, #seminars, #services_home, #products{
  width:50%;
  padding-top: 10px;
  box-sizing: border-box;
}

/*Specials page content div anchor tags of main div*/
#courses a, #seminars a, #services_home a, #products a{
  color: #660505;  
  display: block;
  margin-top: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

/*Specials page content div hover on anchor tags of main div*/
#courses a:hover, #seminars a:hover, #services_home a:hover, #products a:hover{
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: 500;
}

/*Specials page image div of main div*/
#courses_image, #seminars_image, #services_home_image, #products_image{
  width:30%;  
  box-sizing: border-box;
}

/*Specials page ordering places of all 8 divs */
#courses{
  order: 1;
}
#courses_image{
  order: 2;
}
#seminars{
  order: 3;
}
#seminars_image{
  order: 4;
}
#services_home{
  order: 5;
}
#services_home_image{
  order: 6;
}
#products{
  order: 7;
}
#products_image{
  order: 8;
}

/* ********** Courses Page of mobile view ***********/

/*courses page main div*/
#course_container{
  display: flex;
  flex-direction: row;
  min-height: 324px;
  width: 95%; 
  font-size: 1.1em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
}

/* CSS for table for all pages where it exists*/
table{
  width: 90%;        
  border: 6px groove rgba(150,05,05,0.9);  
  border-collapse: collapse;   
  margin: 0 auto;
  font-size: 1em;
  background-color: #D1D06E; 
  margin-top: 0;
}

/* Applying background color Grey to caption of table */
caption{
  background-color: #f8f8f8; 
  border: 6px groove rgba(150,05,05,0.9);
  border-bottom: 0 groove rgba(150,05,05,0.9);
}

/* Applying CSS to caption of table */
caption h2{
  font-size: 1em;
  color: #660505;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

/* Applying CSS to cell header of table */
th{
  font-weight: 500;
}

/* Applying CSS to cells of table */
/*Applying border and padding to cells. Border to table don't give border to cells.*/
td, th{
  border: 2px groove rgba(150,05,05,0.9);
  padding: 5px;  
  font-size: 0.8em;
}

/* Applying CSS to cells of course table */
td.courselist{
  padding-left: 5px;
  text-align: left;
}

/* Applying CSS to hover on rows of seminar table */
.seminar_row:hover{  
  background-color: #f8f8f8;
  cursor: default;    
}

/* ********** Seminar Page of mobile view ***********/

/* seminar page main div */
#seminar_container{
  display: flex;
  flex-direction: row;
  min-height: 324px;
  width: 98%;   
  font-size: 1.1em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 7px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
}

/* ********** Salon at home Page of mobile view ***********/

/* salon at home page main div */
#salon_services_home{
  display: flex;
  flex-direction: column;  
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  width: 80%;   
  color: #660505; 
  box-sizing: border-box;
  border: 6px groove rgba(150,05,05,0.9);
}

/* salon at home page all divs under main div */
#salon_services_home div{
  border: 1px solid rgba(150,05,05,0.9);    
  min-height: 60px;   
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;
  text-align: left;
  padding: 10px;
  
}

/* ********** Products Page of mobile view ***********/

/* products page main div */
#product_container{
  display: flex;
  flex-direction: row;
  min-height: 324px;
  width: 85%; 
  font-size: 1.1em;
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding-top: 10px;
  opacity: 0.95;
  text-align: center;
  border-radius: 13px;
  box-sizing: border-box;
}


/* ********** About Us Page of mobile view ***********/

/* About Us main div */
#aboutus{   
  min-height: 300px;
  width: 85%; 
  font-size: 0.95rem;
  color: #660505;
  position: absolute;
  top: 80px;
  left: 30px;
  opacity: 0.95; 
  text-align: justify;
}

#aboutus p{
  margin-top: 5px;
}

/* ********** Contact Us Page of mobile view ***********/

h3{
  display: inline;
  margin-top: 0;
  margin-bottom: 0;  
}

#salonaddress{
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  color: #aa0909;
  font-size: 0.9em;
}

/* Contact Us Page main div */
#contactus_container{
  min-height: 300px;
  width: 95%; 
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 10px;      
  box-sizing: border-box;    
}

/* Contact Us Page heading */
#contactus_container h2{
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
}

/* Contact Us Page form fieldset */
#contact_form fieldset{
  background-color: #D1D06E;  
  border: 1px groove #660505;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 0;
}

/* Contact Us Page form legend */
#contact_form legend{    
  color: #660505;
  padding: 3px;
  border: 1px groove #660505; 
  width: 90px;   
  background-color: #f8f8f8;
  border-radius: 10px;  
  font-size: 0.8em;
  margin-bottom: 0;
}

/* Contact Us Page form labels */
#contact_form label.info{
  vertical-align: middle;
  display: block;
  width: 155px;
  clear: both;
  float: left; 
  margin-bottom: 0; 
  text-align: right;
  font-size: 0.7em; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 5px;
}

/* Contact Us Page form inputs */
#contact_form input[type="text"], 
#contact_form input[type="tel"], 
#contact_form input[type="date"], 
#contact_form input[type="email"]{
  width: 140px;
  background-color: #eed;        
  border: 1px groove #660505; 
  padding: 5px 0 4px 0;    
  color: #660505;  
  font-size: 0.7em;
  margin-bottom: 0;
  margin-left: 1px;
  font-family: 'Roboto', sans-serif;
}

/* Contact Us Page form dropdown list */
#contact_form select#contact_time{
  width: 140px;
  background-color: #eed;        
  border: 1px groove #660505; 
  padding: 3px 0 0 0; 
  color: #660505;
  font-size: 0.7em;
  margin-bottom: 0;
  margin-left: 1px;
  font-family: 'Roboto', sans-serif;
}

/* Contact Us Page form textarea */
#contact_form textarea{
  width: 137px;
  color: #660505;
  border: 1px groove #660505;
  font-size: 0.7em;
  margin-bottom: 0;
  margin-left: 1px;
  font-family: 'Roboto', sans-serif;
}

/* Contact Us Page form p tags */
#contact_form p{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Contact Us Page form buttons for submit and reset */
input[type="submit"], input[type="reset"]{
  padding: 3px;
  display: inline-block;
  width: 80px;
  background-color: #f8f8f8;
  color: #660505;
  border: 1px groove #660505; 
  border-radius: 10px;  
  float: right;   
  font-size: 0.7em;
  margin-top: 10px;
  margin-right: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Contact Us Page form reset button */
input[type="reset"]{
  margin-left: 10px;
}

/* Contact Us Page hover on form buttons */
input[type="submit"]:hover, input[type="reset"]:hover{
  background-color: #D1D06E;  
}

/* ********** Marking Page of mobile view ***********/

/* Marking Page main div */
#mark_container{
  min-height: 424px;
  width: 96%;    
  color: #660505;
  float: left;
  margin-top: 15px;
  margin-left: 5px;      
  box-sizing: border-box; 
  font-weight: 500;
  overflow: hidden;
}

/* Marking Page rows of table on marking page */
.markslist{
  padding-left: 10px;
  text-align: left;
  width: 50%;
  transition: all .5s ease-in-out;
}

/* Marking Page hover on rows of table on marking page */
.marksrow:hover{  
  background-color: #f8f8f8;
  cursor: default;    
}

/* Marking Page a of cells of table on marking page */
tr.marksrow td a{
  text-decoration: none;
  color: #000;  
}

/* Marking Page hover on a of cells of table on marking page */
tr.marksrow td a:hover{
  text-decoration: underline;
  color: #b00;
}

/* ********** footer of mobile view ***********/

/* footer */
footer{
  background-color: #f8f8f8;  
  min-height: 100px;  
  padding-top: 1px;   
  box-sizing: border-box;
  position: relative;
}

/* footer content div */
footer #displaymsg3{
  font-size: 0.8em;
  float: left;
  margin-left: 65px;
  margin-top: 5px;
  color: #333;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
}

/* footer ul for navigation */
footer ul{  
  float: left;
  margin-left: 0;
  margin-top: 5px;
}

/* footer li of ul for navigation */
footer ul li{
  display: inline-block;
  padding: 5px;   
  padding-left: 0;
}

/* footer a of li of ul for navigation */
footer ul li a{
  text-decoration: none;
  color: #333; 
  font-weight: 400;
  font-size: 0.7rem;  
}

/* footer hover on a of li of ul for navigation */
footer ul li a:hover{
  text-decoration: underline;
  color: #660505;
}

/* footer div for copyright and last modified div */
footer #site_details{
  display: flex;
  flex-direction: column;  
  box-sizing: border-box;
  float: left;
  margin-left: 65px;
  margin-top: 0;
  font-size: 0.7em; 
  color: #333; 
  text-align: center;  
}

/* Media queries for mobile view */
@media screen and (max-width:767px){
  #page_content{
    width: auto;
    margin: 0 auto;
  } 
  
  ul#main_navigation{
    display: none;
  }
  
  a#formobile{
    visibility: visible;    
  }  
  
  a#fordesktop{
    display: none;    
  }
  
  div#open_message{
    display: none;
  }
  
  header div#head_msg{
    display: none;
  }  
  
}

/* media queries for IE 10 and 11*/
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {		
  header img#logo{ 
    width: 55%;
    height: 55%;
    border: 2px solid #D1D06B;
  }
  h1{
    float: left;
    margin-left: -60px;
  }
}
