/*
    ///////////////////////////////////////////////////////////////////////
    //                                                                   //
    //                  Program Name: Web Development                    //
    //                   Course Name: HTML5/CSS3 Capstone Project        //
    //                         Batch: WDD7 - Jan 2020                    //
    //                    Instructor: Brent Scott                        //
    //   HTML5/CSS3 Capstone Project: Print stylesheet                   // 
    //                                                                   //
    //                  Submitted by: Anu Kulshrestha                    //
    //                                                                   //
    ///////////////////////////////////////////////////////////////////////*/

/*
  _____      _       _      _____  _____ _____    _____          _      
 |  __ \    (_)     | |    / ____|/ ____/ ____|  / ____|        | |     
 | |__) | __ _ _ __ | |_  | |    | (___| (___   | |     ___   __| | ___ 
 |  ___/ '__| | '_ \| __| | |     \___ \\___ \  | |    / _ \ / _` |/ _ \
 | |   | |  | | | | | |_  | |____ ____) |___) | | |___| (_) | (_| |  __/
 |_|   |_|  |_|_| |_|\__|  \_____|_____/_____/   \_____\___/ \__,_|\___|

*/

/* *********** Wrapper Div CSS for Print view *********** */
#page_content{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;  
}

a{
  color: #000;
  text-decoration: none;
}

/* *********** Header CSS for Print view *********** */
header{
  height: 140px;
  padding-top: 2px;        
}    

header div{
  float: right;
  margin-top: 10px;
}

header a.social_mlinks{
  text-decoration: none;
}

header a.social_mlinks img{           
  padding-right: 5px;  
  border-radius: 10px;
}

header a img#logo{
  float: left; 
  width: 130px;
  height: 130px;         
}

h1{
  float: left;
  text-align: right;        
  font-size: 3em;    
  margin-bottom: 0;
  font-weight:500;
}

h1 a{
  text-decoration:none;
}

header div#head_msg{
  display: none;
}

/* *********** heading 2 CSS for Print view *********** */

h2{
  text-align: center;
}

/* *********** Semantic element CSS for Print view *********** */

header, nav, section, footer{
  display:block;
  box-sizing: border-box;
}

/* *********** Navigation CSS for Print view *********** */
nav{
  height: 37px;
  padding-top: 1px;
}

nav ul#main_navigation{
  float: left;
  margin-left: 140px;
}

nav ul#main_navigation li.main_nav a{
  text-decoration:none;
  padding: 0 10px 0 10px;        
}

nav#mobilenav{
  display: none;
}

nav#desktopnav ul#sub_list{
  display: none;
}

nav#desktopnav li{
  display: inline;
} 

/* *********** Section CSS for Print view *********** */
section{  
  min-height: 650px;
  padding-bottom: 1px; 
  padding-top: 1px;             
}

/* *********** Home page CSS for Print view *********** */
section #main_container{
  min-height: 450px;
  padding-top: 1px;  
  float: left;
  margin-left:30px;
  margin-top: 0;
}

section #home_pic img{
  float:left;        
  margin-top: 120px;
  margin-left: 300px;
  padding-top: 1px;
}

section #fordesktop, section div#open_message{
  display:none;
}

section #formobile{
  float: left;
  margin-top: -45px;
  margin-left: 10px;     
}

section #main_container #formobile{
  float: left;
  margin-top: 5px;
  margin-left: 300px;
}

/* *********** Services Page CSS for Print view *********** */
#salon_services{
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 20px;  
  float: left;
  width: 90%;  
  font-size: 0.9rem;    
}

#salon_services div{
  border: 2px solid #000;  
  border-radius: 2px;
  height: auto;  
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;  
  width: 50%;
}

#salon_services div ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 22px;
}

#salon_services div ul li:first-child{
  list-style-type: none;
}

/* *********** Specials page CSS for Print view *********** */
#special_services{
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;
  width: 90%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 50px;   
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;  
  border: 6px groove #000;  
  border-radius: 10px;
}

#courses, #courses_image, 
#seminars, #seminars_image, 
#services_home, #services_home_image, 
#products, #products_image{ 
  border: 2px solid #000; 
  opacity: 0.9;  
  float: left;
  font-weight: 500;  
  width: 24%;   
  box-sizing: border-box;
}

#courses{
  border-radius: 10px 0 0 0;
}
#seminars_image{
  border-radius: 0 10px 0 0;
}
#services_home_image{
  border-radius: 0 0 0 10px;
}
#products{
  border-radius: 0 0 10px 0;
}
#courses, #services_home, #seminars, #products{
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#courses_image, #seminars_image, #services_home_image, #products_image{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;  
}

#special_services a img.responsive{
  width: 100%;
  height: auto;
}

#courses a, #seminars a, #services_home a, #products a{
  display: block;
  padding-top: 5px;
  text-decoration: none;  
  font-weight: 400;   
}

/* *********** Table view CSS for Print view *********** */

/*Table for Courses and Seminars and Marks Page*/
table{
  width: 80%;        
  border: 6px groove #000;     
  margin: 0 auto;
  font-size: 1em;  
  margin-top: 20px;
  border-spacing: 2px;
  border-collapse: separate;
}

/*Applying CSS to caption of table*/
caption{   
  border: 6px groove #000;
  border-bottom: 0 groove #000;
}

caption h2{
  font-size: 1em;  
}

/*Applying border and padding to cells. Border to table don't give border to cells.*/
td, th{
  border: 2px groove #000;
  padding: 5px;  
  font-size: 0.8em;  
}

/*Applying CSS to particular data of the table*/
td.courselist{
  padding-left: 50px;
  text-align: left;
}

/* *********** Services at home Page CSS for Print view *********** */

#salon_services_home div{  
  min-height: 60px;   
  opacity: 0.95;  
  box-sizing: border-box;  
  margin: 0;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;  
  border: 1px solid #000;
}

/* *********** Contact us CSS for Print view *********** */

#contactus_container{
  min-height: 424px;
  width: 85%;   
  float: left;
  margin-top: 5px;
  margin-left: 70px;      
  box-sizing: border-box;    
}

#contactus_container h2{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
#contact_form fieldset{
  border: 2px groove #000;  
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

#contact_form legend{   
  padding: 8px;
  border: 2px groove #000; 
  width: 125px;   
  border-radius: 10px;  
  font-size: 1.1em;
}

#contact_form label.info{
  display: block;
  width: 220px;
  clear: both;
  float: left; 
  margin-right: 10px;
  margin-left: 20px;
  text-align: right;
  font-size: 1.1em;
}

#contact_form input[type="text"], 
#contact_form input[type="tel"], 
#contact_form input[type="date"], 
#contact_form input[type="email"]{
  width: 200px;
  border: 2px groove #000; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
   
}

#contact_form select#contact_time{
  width: 211px;        
  border: 2px groove #000; 
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
    
}

#contact_form textarea{
  width: 208px;
  margin-left: 10px;
  margin-right: 10px;  
  border: 2px groove #000;  
}

input[type="submit"], input[type="reset"]{
  padding: 10px;
  display: inline-block;
  width: 100px;  
  
  border: 2px groove #000; 
  border-radius: 10px;  
  float: left;
  margin-left: 320px;   
}

input[type="reset"]{
  margin-left: 10px;
}

/* *********** Footer CSS for Print view *********** */
footer{
  min-height: 120px;
  padding-top: 1px;
}

footer ul{ 
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

footer ul li{
  display: inline-block;        
}

footer ul li a{
  text-decoration:none;  
  padding: 0 10px 0 10px;
}

footer div#site_details{
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-left: 180px;
  text-align: center;
}

footer div#displaymsg3{
  margin-left: 150px;
}